<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.runtime.muleServerLaunchType">
<listAttribute key="Mpath"/>
<stringAttribute key="Ppath" value="C:\Users\saigandh\AnypointStudio\workspace\addition"/>
<stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.3.9.1.ee"/>
<listAttribute key="mule-project-names">
<listEntry value="addition"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="addition"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-XX:PermSize=128M -XX:MaxPermSize=256M"/>
</launchConfiguration>
